/* Forest — green earthy tones */

.forest .cell {
    background-color: #1e3b1a; /* dark evergreen */
}

.forest .tree {
    background-color: #275c1a; /* green forest */
}

.forest .berries {
    background-color: #3d2c1c;
}

.forest .sapling {
    background-color: #356125;
}

.forest .coal {
    background-color: #111;
}
